* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Alfa Slab One', 'cursive', sans-serif;
  color: #036b52;
  letter-spacing: 4px;
  font-size: 60px;
}
h2 {
  font-family: 'Montserrat', 'cursive', sans-serif;
  color: #036b52;
}
h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #11a36a;
  padding: 10px 0;
}
body {
  font-family: 'Montserrat', 'cursive', sans-serif;
  background-color: #f5f5f5;
}
p,
li,
lo {
  font-size: 16px;
  color: #475550;
  line-height: 1.5;
}
#img {
  border-radius: 50%;
  width: 400px;
  vertical-align: middle;
}
#name {
  text-align: center;
}
.trybe-green {
  color: #11a36a;
}
.orange {
  color: orangered;
}
.red {
  color: red;
}
.comunic {
  font-size: 20px;
}
.cowork {
  font-size: 16px;
}
.resil {
  font-size: 24px;
}
.comp {
  font-size: 22px;
}
.outras {
  font-size: 14px;
}
.eu-mim {
  margin: 10px;
  max-width: 80%;
  display: inline-flex;
  padding: 30px 70px;
  vertical-align: middle;
}
.eu-left {
  float: left;
  padding: 30px 70px;
}
.eu-right {
  float: right;
  padding: 30px 40px;
}
.habilidades {
  padding: 10px 0 30px;
}
.indice {
  padding: 10px 0 30px;
}

/**

**/
